.select {
    margin-top: 2vh;
    font-size: 4vh;
    font-weight: bold;
}

.outerDiv {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.item {
    font-size: 3vh;
}
